
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  color:#1f1c1c;
  font-size:1em;
  -webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
  -moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
}

#oceanBg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background: url("./static/img/ocean.jpg");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto 100%;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 0;
}

/*Card CSS START*/

.card {
  position: absolute;
  background: rgba(0,0,0, 0.5);
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block;
  font-size: 3vh; 
  font-family: 'Roboto', sans-serif;
}

.card-chamfer {
  clip-path: 
    polygon(
      0% 2.1vh, 
      0% 0%, 
      calc(100% - 2.1vh) 0%, 
      100% 2.1vh, 
      100% 100%, 
      100% 100%, 
      2.1vh 100%, 
      0% calc(100% - 2.1vh)
  );
}

.card-chamfer-bot-left {
  clip-path: 
    polygon(
      0% 2.1vh, 
      0% 0%, 
      100% 0%, 
      100% 2.1vh, 
      100% 100%, 
      100% 100%, 
      2.1vh 100%, 
      0% calc(100% - 2.1vh)
  );
}

/*Card CSS END*/

/*Credits START*/

.align-bot {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card-credits {
  bottom: 0;
  right: 10vh;
  margin: 1vh;
  padding: 0.5vh;
  font-size: 7vh;

  cursor: pointer;
  color: rgba(200,200,200, 0.8);
  background: rgba(0,0,0,0);
  text-align: left;
  z-index: 10;
}

@media only screen and (max-width: 1024px) {
  .card-credits {
    bottom: 0;
    right: 40px;
    margin: 10px;
    padding: 3px;
    font-size: 24px;
  }
}

#credits-modal .modal-content .modal-body {
  overflow: hidden;
}

.modal-body .credits-modal-body {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  background-color: #EEE;
  padding: 16px;
  line-height: 1.5em;
}

/*Credits END*/

/*News START*/

.card-news {
  padding: 1vh 2vh;
  width: 8vw;
  text-align: center;
  margin: 1vh;
  left: 0;

  margin-top: calc(1vh - 1px);
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 1px;
  z-index: 20;
}

.news-button {
  cursor: pointer;
}

.card-news-scroll {
  padding: 1vh 2vh;
  margin: 1vh;
  width: 40vw;
  height: 3.5vh;
  left: calc(8vw + 4vh);
  z-index: 6;
}

@keyframes slide {
  from { left:100%; transform: translate(0, 0); }
  to { left: -10%; transform: translate(-100%, 0); }
}
@-webkit-keyframes slide {
  from { left:100%; transform: translate(0, 0); }
  to { left: -10%; transform: translate(-100%, 0); }
}

.marquee { 
  width:100%;
  height: 3.5vh;
  overflow:hidden;
  position:relative;
}

#country-name {
  margin-left: 5px;
}

.text {
  position:absolute;
  top:0;
  font-size: 3vh;
  white-space: nowrap;
  animation-name: slide;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count: infinite;
}

/*News END*/

/*News Modal START*/

/* The Modal (background) */
.modal {
  display: none;
  position: absolute;
  z-index: 100;
  width: 60%;
  height: 70%;
  overflow: none; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); */
  background-color: rgba(0,0,0,0.4);
  transition: transform 0.4s ease;
}

@media only screen and (max-width: 1024px) {
  .modal {
    width: 100%;
    height: 100%;
  }
}

/* Modal Header */
.modal-header {
  padding: 12px 16px;
  font-size: 2rem;
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Modal Body */
.modal-body {
  height: calc(100% - 35px - 2rem);
  overflow-y: scroll;
  overflow-x: hidden;
}
.modal-body-padding {
  padding: 20vh 0;
}

#news-headlines {
  /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  width: 100%;
}

#news-headlines td, #news-headlines th {
  width: 100vw;
  border: 1px solid #ddd;
  padding: 16px;
}

/* #news-headlines tr:nth-child(odd){}
#news-headlines tr:nth-child(even){} */

#news-headlines tr.newshead:hover {background-color: #ddd;}

#news-headlines th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(0,0,0, 0.8);
  color: white;
}

#news-headlines tr.newsdesc {
  background-color: #fff;
  display: none;
}

#news-headlines tr.newshead {
  background-color: #eee;
  cursor: pointer;
}

/* Modal Footer */
.modal-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #25A6AA;
  color: white;
}
.modal-footer-content {
  padding: 12px 16px;
  font-size: 1rem;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: 0;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s; */
}

/* Add Animation */
/* @keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
} */

/* The Close Button */
.close {
  color: #eee;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

/*News Modal END*/

/*Date Clock CSS START*/

.controls-wrapper {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 20;
}

.card-date {
  position: relative;
  flex-direction: column;
  padding: 1vh 4vh;
  margin: 1vh;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.card-accordion {
  margin-right: 1vh;
  position: relative;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  display: inline-block;
}

.colon,
.dash{
  font-size: 3vh;
  display: inline-block;
}

.clock,
.date {
  display: inline-block;
}

.clock {
  padding-left: 10pt;
}
.date {
/*     padding-right: 15px; */
/*     border-right: 2px #FFFFFF; */
}

/*Date Clock CSS END*/

/*Info Panel*/
.card-info .fas {
  display: inline !important;
  margin-right: 5px;
}


.align-bot {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card-info {
  /* position: relative; */
  /* padding: 1vh; */
  left: 50%;
  bottom: 0;
  margin: 1vh;
  padding: 1vh;
  height: 16vh;
  width: calc(100% - 50vh);
  max-width: 100vh;
  z-index: 10;
  /* margin: 0.5vw; */
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /* margin-left: auto;
  margin-right: auto; */
}

.card-info .thumbnail {
  position: relative;
  display: inline-block;
  background-image: url("https://cdn.mos.cms.futurecdn.net/JtVH5Khvihib7dBDFY9ZDR.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 32vh;
  height: 100%;

  -webkit-clip-path: polygon(0% 0%,     calc(100% - 2.1vh) 0%,  100% 2.1vh, 
                             100% 100%, 2.1vh 100%, 0% calc(100% - 2.1vh));
  clip-path: polygon(0% 0%,     calc(100% - 2.1vh) 0%,  100% 2.1vh, 
                     100% 100%, 2.1vh 100%, 0% calc(100% - 2.1vh));

}

.card-info .content {
  float: right;
  width: calc(100% - 32vh);
}

.card-info .content .toggle-infected {
  position: absolute; 
  font-size: 2.5vh; 
  cursor: pointer; 
  right: 0; 
  top: 0; 
  margin-top: 2.5%;
  margin-right: 2%; 
  padding: 1%;
  text-align: center; 
  width: 20vh;
  border: 2px;
  border-style: solid;
  border-color: #888;
  color: #FFF;
}

.card-info .content .toggle-infected-disable {
  color: #666;
}

@media only screen and (max-width: 144vh) {
  .card-info {
    min-width: 48vh;
  }

  .card-info .thumbnail {
    display: none;
  }

  .card-info .content {
    float: left;
    width: 100%;
  }
}

.card-info table {
  margin-top: 0.2vh;
  margin-left: 2%;
  color: #FFFFFF;
  text-align: left;
  font-size: 2.5vh;
  font-weight: normal;
}

.card-info table th, 
.card-info table td {
  padding: 0;
  padding-left: 1vh;
  padding-right: 3vh;
  border-left: rgba(255, 255, 255, 0.5);
  border-left-width: 2px;
  border-left-style: solid;
  /* line-height: 3.6em; */
}

/*Info Panel END*/

/*Progress Bar START*/

.container-div {
  width: 96%;
  height: 4vh;
  margin-top: 1vh;
  margin-left: 2%;
  text-align: center;
  background-color: rgba(0,0,0,0);
/*   border-radius: 10px; */
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.percent-bar {
/*   width: 30%; */
  height: 3.5vh;
/*   background-color: #59A3C8; */
/*   border-radius: 10px; */
  position: absolute;
  z-index: 2;
}

.percent-bar#dead-bar {
  margin-left: 0;
  background: linear-gradient(#2F2F2F, #141414);
  -webkit-box-shadow: inset 0px 0px 6px 2px #303030;
  -moz-box-shadow: inset 0px 0px 6px 2px #303030;
  box-shadow: inset 0px 0px 6px 2px #303030;
}
.percent-bar#infected-bar {
  background: linear-gradient(#730E16, #261C25);
  -webkit-box-shadow: inset 0px 0px 6px 2px rgba(140,43,55,1);
  -moz-box-shadow: inset 0px 0px 6px 2px rgba(140,43,55,1);
  box-shadow: inset 0px 0px 6px 2px rgba(140,43,55,1);
}
.percent-bar#healthy-bar {
  background: linear-gradient(#5FD9EF, #27639C);
  -webkit-box-shadow: inset 0px 0px 6px 2px rgba(69,188,224,1);
  -moz-box-shadow: inset 0px 0px 6px 2px rgba(69,188,224,1);
  box-shadow: inset 0px 0px 6px 2px rgba(69,188,224,1);
}

/*Progress Bar END*/

.port {
  position: absolute;
  pointer-events: none;
  height: 1vh;
  width: 1vh;
  z-index: 3;
}

.date-nav {
  margin: 10px;
  /* padding-top: 5px; */
  font-size: 0.5em;
  display: flex;
}

.date-nav .fas {
  display: inline !important;
}

.control i {
  font-size: 12px;
  display: inline-block;
  border-radius: 50%;
  /* box-shadow: 0px 0px 2px #888; */
  padding: 0.5em 0.6em;
}

.control:hover i {
  background: rgba(255, 255, 255, 0.2);
  cursor: hand;
}

.disabled i {
  background: rgba(255, 255, 255, 0.1) !important;
  cursor: default !important;
  color: #888 !important;
}


.control {
  margin: 0 5px;
}

.range-slider, .range {
  width: 100%;
}

.flipped {
  transform: rotate(180deg);
}

#expand-icon{
  margin: 2px auto;
}

/* #today span {
  border-radius: 1em;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.8em;
}

#last-day i:hover, #next-day i:hover, #today span:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 2px #888;
  cursor: hand;
}

.disabled i {
  background: rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0px 0px 2px #888;
  cursor: default !important;
}

#today {
  margin: 0 1em;
} */