
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  color:#1f1c1c;
  font-size:1em;
  -webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
  -moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
}

.container {
  width: 100%;
  height: 85%;
  margin: 0 0;
}

.modal {
  pointer-events: none;
}

.modal-card {
  border-radius: 8px;
  pointer-events: auto;
}

#map {
  height: 100vh;
  width: 100vw;
}

.header {
  height: 70px;
  width: 100vw;
  position: absolute;
  z-index: 5;
  display: flex;
  padding: 20px 20px 0;
  box-sizing: border-box;
  pointer-events: none;
}

.header h1 {
  margin: 0;
}

.header span {
  color: #FF5722;
}

.search {
  margin-left: auto;
}

#search{
  pointer-events: auto;
  width: 300px;
  font-size: 21px;
  border: none;
  border-radius: 5px;
  background: #FAFAFA;
  padding: 15px;
  font-family: "Nunito";
  text-overflow: ellipsis;
  padding-left: 60px;
}

#search:focus{
  outline: none;
  background: #fff;
  transition: all ease-in-out .5s;
}

.open{
  display:inline-block;
  pointer-events: auto;
  vertical-align:middle;
  border-radius:30px;
  font-size: 1rem;
  color:#666666;
  background:   #ffffff;
  border:1px solid #666666;
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
  margin-left: 10px;
}

.open:hover{
  border:1px solid #666666;
  background:#666666;
  color:#ffffff;
  cursor: hand;
}

.search-icon {
  top: 0.9em;
  left: 1em;
}

.search-icon {
  position: relative;
  top: 1.8em;
  pointer-events: none;
  left: 0.6em;
  z-index: 1000;
  font-size: 1.75em;
}

#add-location {
  position: fixed;
  font-family: "Nunito";
  z-index: 5;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  font-weight: 800;
  font-size: 2.5em;
  padding: 0 10px;
  bottom: 1em;
  left: 0.5em;
}

#marker {
  pointer-events: none;
  position: absolute;
  display: none;
  z-index: 5;
  height: 32px;
  width: 32px;
  -webkit-transform: translate(-50%, -100%);
  top: 0px;
  left: 0px;
  color: white;
}

.img-preview {
  width: 150px;
  height: 150px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  padding-right: 12px !important;
}

.grid button {
  display: none;
}

.icon {
  width: 33.333333%;
  cursor: hand;
}

.popup-header {
  font-family: "Nunito";
  font-weight: 800;
  font-size: 2em;
  float: left;
  margin: 10 0px;
  padding: 0px;
  color: white !important;
  display: inline-block;
  white-space: nowrap;
  max-width: 280px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.buttons {
  float: right;
  display: inline-block;
  margin-right: 7px;
}

/* ----- Button styling ----- */
.button{
  width: 80px;
  display: block;
  float: left;
  border-radius:3px;
  margin: 10px 5px;
  padding: 5px 10px;
  text-align:center;
  text-decoration:none;
  font-family: "Nunito";
  color: #ecf0f1;
}

.button-wide {
  border: none;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
}

.red{
  box-shadow: 0px 6px #c0392b;
  background: #e74c3c;
}

.red:hover, .red:active{
  cursor: hand;
  box-shadow: 0px 6px #ab3326;
  background: #c0392b;
}

/* ----- Info window styling (classes prone to change at Google's discretion) ----- */
.gm-style .gm-style-iw {
  background-color: #252525 !important;
}

.gm-style .gm-style-iw-c {
  padding-bottom: 14px !important;
}

.view-link a {
  background-color: #252525 !important;
  margin-bottom: 10px;
}

.gm-style-iw-d, .poi-info-window div {
  overflow: hidden !important;
  background-color: #252525 !important;
}

/*style the link*/
.gm-style div div div div div div div div a {
  color: #f1f1f1;
  font-weight: bold;
}

.poi-info-window .title, .poi-info-window .address-line {
  color: white;
}

.gm-ui-hover-effect {
  display: none !important;
}


/*Card CSS START*/

.card {
  position: absolute;
  background: rgba(0,0,0, 0.5);
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block;
  font-size: 3vh; 
  font-family: 'Roboto', sans-serif;
}

.card-chamfer {
  background:
      -moz-linear-gradient(45deg,  transparent 2vh, rgba(0,0,0, 0.5) 2vh),
    -moz-linear-gradient(225deg,  transparent 2vh, rgba(0,0,0, 0.5) 2vh);
  background:
      -o-linear-gradient(45deg,  transparent 2vh, rgba(0,0,0, 0.5) 2vh),
    -o-linear-gradient(225deg,  transparent 2vh, rgba(0,0,0, 0.5) 2vh);
  background:
      -webkit-linear-gradient(45deg,  transparent 2vh, rgba(0,0,0, 0.5) 2vh),
    -webkit-linear-gradient(225deg,  transparent 2vh, rgba(0,0,0, 0.5) 2vh);
}

.card-chamfer {
  background-position: bottom left, top right;
  -moz-background-size: 50.02% 50%;
  -webkit-background-size: 50.02% 50%;
  background-size: 50.02% 100%;
  background-repeat: no-repeat;
}

/*Card CSS END*/

/*Disease and World START*/

.align-bot {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card-disease {
  left: 0;
}

.card-world {
  right: 0;
}

.card-disease,
.card-world {
  /* position: relative; */
  cursor: pointer;
  /* padding: 2% 2%; */
  padding: 2vh 2vh;
  bottom: 0;
  margin: 1vh;
  text-align: left;

  -webkit-clip-path: polygon(0% 0%,     calc(100% - 2.1vh) 0%,  100% 2.1vh, 
                             100% 100%, 0% 100%);
  clip-path: polygon(0% 0%,     calc(100% - 2.1vh) 0%,  100% 2.1vh, 
                     100% 100%, 0% 100%);
}

.red-bar {
  margin-top: 1vh;
  height: 2vh;
  width: 16vh; 
  background-color: #790000;
}

.blue-bar {
  margin-top: 1vh;
  height: 2vh;
  width: 16vh; 
  background-color: #25A6AA;
}

/*Disease and World END*/


/*World END*/

/*News START*/

.card-news {
  padding: 1vh 2vh;
  width: 8vw;
  text-align: center;
  margin: 1vh;
  left: 0;

  margin-top: calc(1vh - 1px);
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 1px;
  z-index: 1000;
}

.news-button {
  cursor: pointer;
}

.card-news-scroll {
  padding: 1vh 2vh;
  margin: 1vh;
  width: 40vw;
  height: 3.5vh;
  left: calc(8vw + 4vh);
  z-index: 999;
}

@keyframes slide {
  from { left:100%; transform: translate(0, 0); }
  to { left: -100%; transform: translate(-100%, 0); }
}
@-webkit-keyframes slide {
  from { left:100%; transform: translate(0, 0); }
  to { left: -100%; transform: translate(-100%, 0); }
}

.marquee { 
  width:100%;
  height: 3.5vh;
  overflow:hidden;
  position:relative;
}

#country-name {
  margin-left: 5px;
}

.text {
  position:absolute;
  top:0;
  font-size: 3vh;
  white-space: nowrap;
  animation-name: slide;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 30s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count: infinite;
}

/*News END*/

/*Date Clock CSS START*/

.card-date {
  padding: 1vh 4vh;
  margin: 1vh;
  right: 0;
}

.time {
  display: inline-block;
}

.colon,
.dash{
  font-size: 3vh;
  display: inline-block;
}

.clock,
.date {
  display: inline-block;
}

.clock {
  padding-left: 10pt;
}
.date {
/*     padding-right: 15px; */
/*     border-right: 2px #FFFFFF; */
}

/*Date Clock CSS END*/

/*Info Panel*/

.fas {
  display: inline !important;
  margin-right: 5px;
}


.align-bot {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card-info {
  /* position: relative; */
  /* padding: 1vh; */
  left: 50%;
  bottom: 0;
  margin: 1vh;
  padding: 1vh;
  height: 16vh;
  width: calc(100% - 50vh);
  max-width: 100vh;;
  /* margin: 0.5vw; */
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /* margin-left: auto;
  margin-right: auto; */
}

.card-info .thumbnail {
  position: relative;
  display: inline-block;
  background-image: url("https://cdn.mos.cms.futurecdn.net/JtVH5Khvihib7dBDFY9ZDR.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 32vh;
  height: 100%;

  -webkit-clip-path: polygon(0% 0%,     calc(100% - 2.1vh) 0%,  100% 2.1vh, 
                             100% 100%, 2.1vh 100%, 0% calc(100% - 2.1vh));
  clip-path: polygon(0% 0%,     calc(100% - 2.1vh) 0%,  100% 2.1vh, 
                     100% 100%, 2.1vh 100%, 0% calc(100% - 2.1vh));

}

.card-info .content {
  float: right;
  width: calc(100% - 32vh);
}

@media only screen and (max-width: 130vh) {
  .card-info {
    min-width: 48vh;
  }

  .card-info .thumbnail {
    display: none;
  }

  .card-info .content {
    float: left;
    width: 100%;
  }
}

.card-info table {
  margin-top: 0.2vh;
  margin-left: 2%;
  color: #FFFFFF;
  text-align: left;
  font-size: 2.5vh;
  font-weight: normal;
}

.card-info table th, 
.card-info table td {
  padding: 0;
  padding-left: 1vh;
  padding-right: 3vh;
  border-left: rgba(255, 255, 255, 0.5);
  border-left-width: 2px;
  border-left-style: solid;
  /* line-height: 3.6em; */
}

/*Info Panel END*/

/*Progress Bar START*/

.container-div {
  width: 96%;
  height: 4vh;
  margin-top: 1vh;
  margin-left: 2%;
  text-align: center;
  background-color: rgba(0,0,0,0);
/*   border-radius: 10px; */
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.percent-bar {
/*   width: 30%; */
  height: 3.5vh;
/*   background-color: #59A3C8; */
/*   border-radius: 10px; */
  position: absolute;
  z-index: 2;
}

.percent-bar#dead-bar {
  margin-left: 0;
  background-color: #202020;
}
.percent-bar#infected-bar {
  background-color: #790000;
}
.percent-bar#healthy-bar {
  background-color: #25A6AA;
}

/*Progress Bar END*/
